.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    width: 100vw;
}
.boxCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: blue;
}