.form{
    background-color: rgb(238, 240, 241);
    border: 1px solid rgb(212, 214, 215);
    padding: 1rem;
    gap: 1rem;
    width: 30rem;
}
.targetParent{
    background-color: rgb(212, 214, 215);
    padding: 0.3rem 1rem 1rem 1rem;
    border-radius: 0.4rem;
}
.animeInput{
    position: relative;
}
.animeBox,input,.element,.editor{
    width: 100%;
    border: 1px solid rgb(149, 147, 147);
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.animeBox,input,.element{
    height: 3rem;
}
.editor{
    min-height: 3rem;
    flex-wrap: wrap;
}
input:focus{
    border: 1px solid rgb(5, 105, 245);
}
.animeBox::after{
    content: url(./expand.png);
    position: absolute;
    right: 1rem; 
}
.form,.targetParent,.childTimeline,.time-parent{
    display: flex;
    flex-direction: column;
}
.buttonAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
button{
    padding: 0.5rem 1rem;
}
.selection{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.radioBox{
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
}
.selectedBox{
    background-color: rgb(57, 148, 246);
}
.timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playBtn{
    padding: 0.1rem 0.7rem;
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 169);
}
.playBtn:hover{
    background-color: rgb(221, 217, 217);
}
button,.selection span,.closeBtn{
    cursor: pointer;
}
.closeBtn{
    background-image: url(./close.png);
    height: 1rem;
    width: 1rem;
    border-radius: 3px;
    padding: 4px;
    position: relative;
    left: 5px;
    top: -5px;
}
.closeBtn:hover{
    background-color: rgb(155, 156, 157);
}
.childTimeline{
    border: 1px solid rgb(61, 62, 62);
    border-radius: 4px;
    padding: 0.4rem 1rem 1rem 1rem;
    gap: 0.5rem;
}
.time-parent{
    gap: 0.5rem;
}
