<div class="form">
    <div class="animeInput">
        <div>Element</div>
        <div class="element">{{target.className}}</div>
    </div>
    <div>
        <div class="selection" (click)="isShowSelector=!isShowSelector">
            <span class="radioBox" [ngClass]="{'selectedBox':isShowSelector}"></span>
            <span>Selector</span>
        </div>
        <input type="text" *ngIf="isShowSelector" [(ngModel)]="selectorName">
    </div>
    <button (click)="addElements()">Add Multiple Elements</button>
    <div class="animeInput">
        <div>Animation Name</div>
        <div class="animeBox" (click)="showAnimeCard($event)" #animationName></div>
        <div class="searchItems" *ngIf="this.data.isShowAnimeCard">
            <div *ngFor="let anime of this.data.animations" (click)="selectAnimation(anime)">{{anime}}</div>
        </div>
    </div>
    <div>
        <div>Duration</div>
        <input type="number" [(ngModel)]="duration">
    </div>
    <div>
        <div>Delay</div>
        <input type="number" [(ngModel)]="delay">
    </div> 
    <div class="animeInput">
        <div>Easing</div>
        <div class="animeBox" (click)="showEasing($event)" #easing></div>
        <div class="searchItems" *ngIf="this.data.isShowEasing">
            <div *ngFor="let easing of this.data.easing" (click)="selectEasing(easing)">{{easing}}</div>
        </div>
    </div>
    <div>
        <div>Loop</div>
        <input type="number" [(ngModel)]="loop">
    </div>
    <div class="buttonAlign">
        <button (click)="addInputProperties()">Add</button>
    </div>
</div>
